{% assign is_learn = page.url contains '/blog/learn/' %}
{% assign is_internals = page.url contains '/blog/internals/' %}
{% assign is_tutorials = page.url contains '/blog/tutorials/' %}
{% assign tutorial_series = site.data.article_series.tutorials %}
{% assign internals_series = site.data.article_series.internals %}

<nav class="manual-nav" aria-label="Manual contents">
  {% if is_learn %}
    <a class="manual-nav-home" href="index.html">MALTOS Guide</a>
    <details open>
      <summary>User Guide</summary>
      <ul>
        <li><a href="quickstart.html">Quickstart</a></li>
        <li><a href="bring-your-own-model.html">Bring Your Own Model</a></li>
        <li><a href="configuring-parallelism.html">Configuring Parallelism</a></li>
        <li><a href="data-and-token-shards.html">Data and Token Shards</a></li>
        <li><a href="training-checkpoints-and-resume.html">Training, Checkpoints, and Resume</a></li>
        <li><a href="errors-and-troubleshooting.html">Errors and Troubleshooting</a></li>
      </ul>
    </details>
    <details open>
      <summary>Internals</summary>
      <ul>
        <li><a href="repo-map.html">Repo Map</a></li>
        <li><a href="runtime-core-walkthrough.html">RuntimeCore Walkthrough</a></li>
        <li><a href="writing-a-plugin.html">Writing a Plugin</a></li>
        <li><a href="mesh-and-process-groups.html">Mesh and Process Groups</a></li>
        <li><a href="test-architecture.html">The Test Architecture</a></li>
        <li><a href="adding-tests-and-profiling.html">Adding Tests and Profiling</a></li>
      </ul>
    </details>
  {% elsif is_tutorials %}
    <a class="manual-nav-home" href="index.html">{{ tutorial_series.home_title }}</a>
    <details open>
      <summary>Series</summary>
      <ul>
        {% for item in tutorial_series.articles %}
          <li><a href="{{ item.href }}">{{ item.title }}</a></li>
        {% endfor %}
      </ul>
    </details>
  {% elsif is_internals %}
    <a class="manual-nav-home" href="index.html">{{ internals_series.home_title }}</a>
    <details open>
      <summary>Articles</summary>
      <ul>
        {% for item in internals_series.articles %}
          <li><a href="{{ item.href }}">{{ item.title }}</a></li>
        {% endfor %}
      </ul>
    </details>
  {% endif %}
</nav>
